 /*Note: Other viable color is #07466C*/
 
 @font-face {
     font-family: cal;
     src: url("./font.ttf") format("truetype");
 }
 
 body {
     overflow: hidden;
     background-color: black;
 }
 
 h1,
 h2,
 h3,
 h4,
 div,
 span,
 p,
 i,
 a,
 strong {
     cursor: none;
     font-family: cal;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     /**/
     user-select: none;
 }
 
 .white {
     color: white;
 }
 
 .head {
     text-align: center;
     font-size: 75px;
     padding-top: 100px;
 }
 
 .center {
     width: 100vw;
     text-align: center;
 }
 
 #progress {
     display: inline-block;
     width: 30vw;
 }
 
 #text {
     font-size: 100px;
     margin: 0px;
 }
 
 div.option {
     position: fixed;
     top: 0px;
     left: 0px;
     width: 100vw;
     height: 100vh;
 }
