body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #666666;
    padding: 0;
    margin: 0;
}

#board div.row {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0px;
    padding-left: 0px;
}

#board {
    position: fixed;
    bottom: 4px;
    margin: 0px;
    padding: 0px;
    width: 96vw;
    left: 2vw;
    height: 85vh;
    border: solid thin black;
}

#board .tile {
    display: inline-block;
    background-color: white;
    border: thin black solid;
    padding: 0px;
    margin-right: 1px;
    margin-left: 1px;
}

.row * {
    display: inline;
}
